:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.entry {
  background-color: #f5e6e6;
  padding: 10px 20px;
  border-radius: 7px;
}
.entry + .entry {
  margin-top: 20px;
}

button, input[type=submit], .button {
  padding: 12px 17px;
  line-height: 1.2;
  border-radius: 5px;
  background-color: rgb(128, 128, 188);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-out;
  display: block;
  width: fit-content;
}

input:not([type=radio]):not([type=submit]), textarea {
  padding: 7px 10px;
  border: 0;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  display: block;
  box-sizing: border-box;
}
textarea {
  height: 100px;
}

label {
  font-size: 14px;
}

.new-entry-form {
  position: relative;
  display: block;
  box-sizing: border-box;
  max-width: 500px;
  background-color: #eaeaea;
  padding: 35px 25px;
  border-radius: 7px;
}

.new-entry-form h3 {
  margin-top: 0;
  color: rgb(128, 128, 188);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.error-message {
  background-color: rgb(246, 99, 99);
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  display: block;
  margin-bottom: 15px;
}

#diagnosesCodes {
  background-color: unset;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 600;
}

#diagnosesCodes:focus {
  outline: unset;
}

.button.select-values {
  border-radius: 5px;
  text-transform: none;
  font-size: 13px;
  padding: 7px 10px;
}

select {
  max-width: 100%;
  box-sizing: border-box;
  display: block;
  margin-top: 5px;
  border-radius: 7px;
  padding: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
